body {
	font-family: 'Rubik';
}

.wrapper {
	display: grid;
	grid-template-rows: 600px;
	grid-template-columns: 200px 600px;
	width: 800px;
	height: 600px;
	margin: auto;
}

.desktop_buttons button {
	margin: 20px;
	width: 80%;
}

.mobile_buttons {
	display: none;
}

@media only screen and (max-width: 830px) {

  .wrapper {
  	grid-template-rows: 90vw;
		grid-template-columns: 90vw;
		width: 90vw;
		height: 90vw;
  }

  .mobile_buttons {
		display: grid;
		grid-template-rows: 1fr;
		justify-content: center;
	}

	.mobile_buttons button {
		width: 90vw;
		margin-bottom: 5px;
	}

	.desktop_buttons {
		display: none;
	}

	.board {
		width: 90vw;
		height: 90vw;
	}
}